@use "abstracts/mixins/link" as link;

:root {
  --bg: #0f2330;
  --bg-mid: #152d3d;
  --bg-panel: #1a3547;
  --bg-input: #122030;
  --accent: #b74c56;
  --accent-h: #e8776c;
  --teal-mid: #1e3f54;
  --border: rgba(255, 255, 255, 0.08);
  --border-hl: rgba(255, 255, 255, 0.18);
  --text: #d6eaf5;
  --text-dim: #7daabf;
  --text-mute: #5790ad;
  --tealy-green: #2d726f;
  --sidebar-w: 130px;
  --error: #ed5757;

  --link-color: var(--text);
  --link-underline-color: var(--accent);
  --link-underline-thickness: 2px;
  --base-font-size: 16px;
  --button-primary-background-color: var(--accent);
  --button-secondary-background-color: var(--bg-panel);
  --button-tertiary-background-color: var(--bg-mid);
  --button-primary-color: var(--text);
  --button-secondary-color: var(--text);
  --button-tertiary-color: var(--text);
  --focus-visible-color: var(--accent);
  --page-main-padding: 1rem;
  --font-family-primary: "Fugaz One", sans-serif;
  --font-family-secondary: "Montserrat Alternates", sans-serif;
  --border-radius: 6px;
  --radio-size: 18px;

  --mask:
    radial-gradient(9.33px at 50% calc(100% - 12.8px),#000 99%,#0000 101%) calc(50% - 16px) 0/32px 100%,
    radial-gradient(9.33px at 50% calc(100% + 4.8px),#0000 99%,#000 101%) 50% calc(100% - 8px)/32px 100% repeat-x;
  --mask-top: 
    radial-gradient(9.33px at 50% 12.8px, #000 99%, #0000 101%)
      calc(50% - 16px) 100% / 32px 100%,
    radial-gradient(9.33px at 50% -4.8px, #0000 99%, #000 101%)
      50% 8px / 32px 100% repeat-x;
}

@layer base {
  *:focus-visible {
    outline-color: var(--focus-visible-color);
  }
  hr {
    block-size: 1px;
    border: none;
    background-color: var(--border);
    margin-block: 1rem;
  }
  :where(html, body) {
    margin: 0;
  }
  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-style: normal;
  }
  .page-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-block-size: 100dvh;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-style: normal;
  }
  .page-main {
    container: page-main / inline-size;
  }
  a:link {
    @include link.base;
    &:hover {
      text-decoration: none;
    }
  }
}
@layer components {
  .site-footer {
    text-align: center;
    padding: 0.5rem 1rem;
    display: grid;
    gap: 0.5rem;
    justify-content: center;
  }
  .install-pwa-prompt {
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
  }
}

@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}