---
import { AstroSEO } from 'astro-seo-plugin';
import "../scss/site.scss";

const baseUrl = import.meta.env.BASE_URL;
const title = "LFT | Lacto-Fermentation Tools";
const description = "Lacto-Fermentation Tools: instantly calculate the brine, set a timer for ferment duration, and save your ferments to your collection.";
const keywords = ["lacto-fermentation", "fermentation", "tools", "kitchen", "calculator", "brine", "timer"];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={baseUrl + "/icon.png"} />
		<link rel="icon" href={baseUrl + "/icon.ico"} />
		<link rel="manifest" href={baseUrl + "/manifest.json"} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<AstroSEO
      title={title}
      description={description}
      openGraph={{
        title: title,
        description: description,
        image: baseUrl + "/og-image.png",
        type: "website"
      }}
      jsonLd={{
        "@type": "WebPage",
        name: title,
        description: description
      }}
      robots={{
        index: true,
				follow: true,
				noarchive: false,
				nosnippet: false,
				maxSnippet: 150
      }}
      additionalLinkTags={[
        { rel: "canonical", href: "#" },
        { rel: "prev", href: Astro.url },
        { rel: "next", href: Astro.url },
        { rel: "alternate", href: Astro.url }
      ]}
      additionalMetaTags={[
        {
        name: "keywords",
        content: keywords.join(", ")
        }
      ]}
    />
	</head>
	<body id="root">
		<slot />
		<script define:vars={{ baseUrl }}>
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', () => {
					let baseUrlScript = baseUrl || "/";

					if (!baseUrlScript.endsWith('/')) {
						baseUrlScript += '/';
					}

					navigator.serviceWorker.register(baseUrlScript + 'service-worker.js').then(registration => {
						console.log('ServiceWorker registration successful with scope: ', registration.scope);
					}).catch(error => {
						console.log('ServiceWorker registration failed: ', error);
					});
				});
			}
		</script>
	</body>
</html>
